.heading-primary-main { color: $color-white; 
text-shadow: 3px;}
.heading-primary-sub { color: $color-white; }
.body-header { color: $color-white; }
.body-header-2 { color: $color-white; }
.body-main { color: $color-white; }
.body-main-2 { color: $color-white; }
